textarea {
    min-height: 400px;
}
.mail {
    width: 100%;
    border: 1px solid black;
    background-color: white;
    padding: 2px;


    }
.col {
    float: left;
    }

    /* Set width length for the left, right and middle columns */
    .left {
    width: 45%;
    }

    .mid {
    width: 40%;
    }
    .right {
    width: 15%;
    }