<!DOCTYPE html>
<html lang="en">
    <title>Scratch</title>
    <script>
    document.addEventListener('DOMContentLoaded', function() {

    fetch('/emails/sent')
    .then(response => response.json())
    .then(emails => {
    // Print emails
    console.log(emails);
    emails.forEach (item => {

        // Create a list item for the new email
        out = `${item["recipients"]}    ${item["subject"]}     ${item["timestamp"]}`;
        const li = document.createElement('li');
        li.innerHTML = out

        // Add new element to our unordered list:
        document.querySelector('#email').append(li);
        console.log("Print this line");




     });
     });

    });
    </script>
<body>
 <h2>{{ request.user.email }}</h2>
  <h2>{{ request.user}}</h2>
<h3>Emails</h3>
 <ul id="email"></ul>


</body>


</html>